html {
    height: 100%;
    width: 100%;
}
.margin {
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.size {
    width: 100%;
    height: 400px;
}
.padding {
    padding: 5px;
}
header {
    background-color: #FFFB1A;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 100%;
    width: 85px;
}
header h1 {
    margin: 0;
    text-transform: uppercase;
}
header ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
}
header ul li {
    padding-right: 5px;
}
header ul li a {
    text-decoration: none;
}
footer {
    height: 15%;
    background-color: #FFFB1A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#contact {
    display: flex;
    flex-direction: row;
}
main {
    background-color: #8698E8;
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
main h2 {
    font-size: 35px;
}
main form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
}
main form label {
    font-size: 20px;
    padding-left: 15px;
}
main form input {
    width: 55px;
    padding-left: 5px;
}
#commande {
    width: 100px;
}
main table {
    height: 100px;
    font-size: 20px;
}
.bouton {
    width: 55px;
    padding-left: 5px;
}