html {
    height: 100%;
    width: 100%;
}
.margin {
    margin: 0;
}
body {
    margin: 0;
    height: 100%;
    width: 100%;
}
.size {
    width: 100%;
    height: 400px;
}
.padding {
    padding: 5px;
}
header {
    background-color: #FFFB1A;
    height: 15%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img {
    height: 100%;
    width: 85px;
}
header h1 {
    margin: 0;
    text-transform: uppercase;
}
header ul {
    list-style: none;
    display: flex;
    flex-direction: row; 
}
header ul li {
    padding-right: 5px;
}
header ul li a {
    text-decoration: none;
}
footer {
    height: 15%;
    background-color: #FFFB1A;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
#contact {
    display: flex;
    flex-direction: row;
}
main {
    background-color: #8698E8;
}
main h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 35px;
}
#first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
#img_1 {
    background-color: white;
    width: 50%;
    border: 1px solid black
}
#text_1 {
    width: 50%;
}
#second {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    font-size: 20px;
}
#img_2 {
    background-color: white;
    width: 50%;
    border: 1px solid black;
}
#text_2 {
    width: 50%;
}
